/* _globals.css */

/* Definición de variables de color */
:root {
    --color-lightest: #f3faf9;
    --color-lighter: #d7f0ed;
    --color-light: #aee1db;
    --color-medium-light: #7dcac4;
    --color-medium: #53aeaa;
    --color-medium-dark: #399390;
    --color-dark: #2c7575;
    --color-darker: #265f5f;
    --color-darkest: #224d4d;
    --color-almost-black: #204141;
    --color-black: #0e2325;
}

@font-face {
    font-family: "Nunito";
    src: url("/RC-Dental/fonts/nunito.woff") format("woff"),
        url("/RC-Dental/fonts/nunito.ttf") format("truetype"),
        url("/RC-Dental/fonts/nunito-italic.woff") format("woff"),
        url("/RC-Dental/fonts/nunito-italic.ttf") format("truetype");
    font-display: swap;
}

html {
    background: var(--color-lightest);
}

body {
    font-family: "Nunito", sans-serif;
}

/* Personalizar la barra de desplazamiento */
::-webkit-scrollbar {
    width: 14px; /* Ancho de la barra de desplazamiento */
    background: var(--color-medium);
}

::-webkit-scrollbar-track {
    background: var(--color-black); /* Color de fondo de la pista de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background: var(--color-medium-dark); /* Color del pulgar de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-lighter); /* Color del pulgar de la barra de desplazamiento al pasar el cursor */
}

/* Personalizar las flechas de desplazamiento */
::-webkit-scrollbar-button {
    background: var(--color-medium-dark); /* Color de las flechas de desplazamiento */
    height: 16px; /* Altura de las flechas */
    width: 16px; /* Ancho de las flechas */
}

::-webkit-scrollbar-button:vertical:decrement {
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="var(--color-lightest)"><path d="M7 14l5-5 5 5z"/></svg>') no-repeat center center;
}

::-webkit-scrollbar-button:vertical:increment {
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="var(--color-lightest)"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat center center;
}

/* Configuración de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;