---
import { Image } from "astro:assets";
import ImageReception from "../../public/assets/recepcion_rc.png";
import ImageLeft from "../../public/assets/About_Left.svg"
import ImageRight from "../../public/assets/About_Right.svg"
---

<section class="flex flex-col items-center justify-center gap-3 relative overflow-hidden h-[108vh]">
  <!-- Contenedor de titulo -->
  <div class="flex flex-col items-center justify-center">
    <h1
      class="text-4xl font-bold leading-[65px] text-colors-darkest text-center mt-[90px]">Sobre nosotros</h1>
  </div>

  <div class="flex flex-row justify-between w-full">
    <!-- Contenedor elipse centro izquierda -->
    <div class="flex items-center justify-start">
      <Image src={ImageLeft} alt="circulo de la izquierda" class="hidden sm:block" />
    </div>
    <!-- Contenedor texto e imagen recepcion -->
    <div class="flex flex-col gap-10 items-center w-1/2">
      <div class="prose">
        <p class="text-[18px] text-pretty font-normal leading-[28px] text-colors-almost-black">
          Con más de 12 años de trayectoria, en Rc Dental nos dedicamos
          apasionadamente al cuidado integral de la salud bucal. Especializados en
          ortodoncia y odontología general, hemos establecido un sólido compromiso
          con la excelencia y la atención personalizada.
        </p>
        <p class="text-[18px] text-pretty font-normal leading-[32px] text-colors-almost-black">
          En Rc dental, nos enorgullece crear sonrisas radiantes y funcionales que
          no solo transforman la estética, sino que también mejoran la calidad de
          vida. Confía en nosotros para cuidar de tu sonrisa con dedicación,
          experiencia y un compromiso inquebrantable con tu bienestar dental.
        </p>
      </div>

      <!-- Contenedor de la imagen de la recepción -->
      <div class="w-[500px] h-auto mb-10">
        <Image src={ImageReception} alt="Recepcion" class="rounded-2xl" />
      </div>
    </div>

    <!-- Contenedor elipse inferior derecha -->
    <div class="flex items-end">
      <Image src={ImageRight} alt="circulo de la derecha"/>
    </div>
  </div>
</section>