---
import { Image } from "astro:assets";
import ImageBlanqueamiento from "../../public/assets/BlanqueamientoImg.png";
import ButtonBack from "./Buttons/ButtonBack.astro";
import ButtonBackServices from "./Buttons/ButtonService.astro";
import ButtonVideo from "./Buttons/ButtonVideo.astro";
---

<section class="w-full h-[88vh] flex flex-col">
  <article class="flex flex-col w-[100vw] h-[100%] overflow-hidden relative">
    <!-- Contenedor título y botones 10% -->
    <div class="relative flex items-center mt-3 mb-5 px-10 h-[10%]">
      <ButtonBack pathBack="http://localhost:4321/odontogeneral" />
      <h1
        class="absolute left-1/2 transform -translate-x-1/2 text-3xl font-bold text-colors-darkest"
      >
        Blanqueamiento
      </h1>
    </div>

    <!-- Contenedor texto, botones, imagen de servicio e imagen decorativa 90% -->
    <div class="flex flex-col h-[90%]">
      <!-- Contenedor texto, botones e imagen de servicio -->
      <div class="flex justify-between items-center">
        <!-- Contenedor descripcion servicio -->
        <div class="prose flex flex-col justify-between gap-3 pl-14">
          <article>
            <h3 class="text-lg font-bold m-0 text-colors-darkest">
              Blanqueamiento Dental:
            </h3>
            <p
              class="text-sm text-pretty m-0 font-normal text-colors-almost-black mb-4"
            >
              El blanqueamiento dental aclara el color de los dientes,
              eliminando manchas y decoloraciones, ya sea en consultorio o en
              casa bajo supervisión profesional.
            </p>
          </article>

          <article>
            <h3 class="text-lg font-bold m-0 text-colors-darkest">
              Opciones Seguras y Efectivas:
            </h3>
            <p
              class="text-sm text-pretty m-0 font-normal text-colors-almost-black mb-4"
            >
              Ofrecemos tratamientos personalizados utilizando geles
              blanqueadores con peróxido de hidrógeno o carbamida, que eliminan
              las manchas al penetrar el esmalte.
            </p>
          </article>

          <article>
            <h3 class="text-lg font-bold m-0 text-colors-darkest">
              Resultados Visibles y Seguros:
            </h3>
            <p
              class="text-sm text-pretty m-0 font-normal text-colors-almost-black mb-4"
            >
              Obtén una sonrisa más brillante y rejuvenecida de forma segura y
              controlada, mejorando tu confianza y estética dental.
            </p>
          </article>

          <div>
            <ButtonBackServices />
          </div>
        </div>

        <!-- Contenedor del boton para ver el video -->
        <div class="flex h-[40%] items-end">
          <ButtonVideo />
        </div>

        <!-- Contenedor imagen de balnqueamiento -->
        <div class="relative overflow-hidden">
          <Image
            src={ImageBlanqueamiento}
            alt="Ilustración del Servicio de Blanqueamiento"
            class="rounded-full w-[100%] h-[32vw] transform translate-x-[10%]"
          />
        </div>
      </div>

      <!-- SVG en la parte inferior (decorativo) -->
      <div class="flex items-end -z-10">
        <svg
            width="1000"
            height="1000"
            viewBox="0 0 1000 1000"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="absolute bottom-[-10vh] right-[-13vw]"
        >
            <circle cx="542" cy="542" r="542" fill="#D7F0ED"></circle>
        </svg>
      </div>
    </div>
  </article>
</section>
