---
import { Image } from "astro:assets";

import Logo from '../../public/assets/logo.png';
import PhoneIcon from "./BannerIcons/PhoneIcon.astro";
import LocationIcon from "./BannerIcons/LocationIcon.astro";
import ClockIcon from "./BannerIcons/ClockIcon.astro";
---

<header>
    <div class="banner flex justify-end bg-colors-medium text-colors-lightest align-center py-1 px-10">
        <marquee class="marquee" direction="" scrollamount="5">
        <p class="banner__items inline-flex items-center">
            <PhoneIcon />
            +57 312 2376546
        </p>
        <p class="banner__items inline-flex items-center">
            <LocationIcon />
            Laureles - Suramericana /Medellín Colombia
        </p>
        <p class="banner__items inline-flex items-center">
            <ClockIcon />
            Lun - Vie 8am - 5pm / Sab 8am - 1pm
        </p>
        </marquee>
    </div>
    <div>
        <nav class="navbar flex justify-between bg-colors-dark text-colors-light">
            <div class="container__logo">
                <a href="/" class="navbar-brand">
                <img class="logo" src={Logo.src} alt="Logo" class="logo"></a>
                <p class="text-colors-lightest">RC DENTAL CONSULTORIO ODONTOLÓGICO</p>
            </div>

            <ul class="navpages flex">
                <li class="nav-item">
                    <a href="/about" class="nav-link">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                    <a href="/services" class="nav-link">Servicios</a>
                </li>
                <li class="nav-item">
                    <a href="/testimonials" class="nav-link">Testimonios</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">Contactos</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<style>
    .marquee {
        width: 800px;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .banner__items {
        font-size: 14px;
        font-weight: 700;
        margin-right: 20px;
        gap: 8px;
    }

    .navbar {
        font-size: 16px;
        height: 56px;
        padding: 40px;
    }

    .navpages {
        display: flex;
        align-items: center;
        padding-right: 110px;
        font-size: 18px;
        gap: 80px;
    }

    .container__logo {
        display: flex;
        align-items: center;
    }

    .logo {
        width: 103px;
        height: 36px;
        margin-right: 10px;
    }
</style>