---
import { Image } from "astro:assets";

import Logo from '../../public/assets/nav_icons/logo.png';
import PhoneIcon from "./BannerIcons/PhoneIcon.astro";
import LocationIcon from "./BannerIcons/LocationIcon.astro";
import ClockIcon from "./BannerIcons/ClockIcon.astro";
import Hamburger from "../../public/assets/nav_icons/hamburger.svg";
import Cross from "../../public/assets/nav_icons/cross.svg";
---

<header class="fixed w-full h-[12vh] z-50">
    <!-- Top Bar with Contact Info -->
    <div class="flex justify-end bg-colors-medium text-colors-lightest items-center h-[40%]">
        <div class="flex items-center animate-scroll md:animate-scrollMobile w-max gap-10 whitespace-nowrap">
            <p class="flex items-center text-sm font-semibold gap-2">
                <PhoneIcon /> +57 312 2376546
            </p>
            <p class="inline-flex items-center text-sm font-semibold gap-2">
                <LocationIcon /> Laureles - Suramericana / Medellín - Colombia
            </p>
            <p class="inline-flex items-center text-sm font-semibold gap-2">
                <ClockIcon /> Lun - Vie 8am - 5pm / Sab 8am - 1pm
            </p>
        </div>
    </div>

    <!-- Main Navigation -->
    <nav class="bg-colors-dark flex items-center justify-between px-4 h-[60%]">
        <!-- Logo and Title -->
        <div class="flex items-center w-full sm:w-[50%] text-colors-light gap-2 sm:gap-4 px-2 sm:px-3">
            <a href="/" class="cursor-pointer">
                <Image src={Logo} alt="Logo" class="w-[4rem] h-6 sm:w-[8rem] sm:h-8 md:w-[6.5rem]" loading="eager" />
            </a>
            <a href="/" class="cursor-pointer font-semibold text-xs sm:text-sm text-colors-lightest">
                RC DENTAL CONSULTORIO ODONTOLÓGICO
            </a>
        </div>
        
        <!-- Checkbox hidden for Mobile Menu -->
        <input type="checkbox" id="menu-toggle" class="hidden peer" />

        <!-- Custom Menu Icon -->
        <label for="menu-toggle" class="sm:hidden flex items-center cursor-pointer">
            <Image src={Hamburger} alt="Hamburger Menu" class="w-6 h-6 peer-checked:hidden" />
            <Image src={Cross} alt="Cross Menu" class="w-6 h-6 hidden peer-checked:block" />
        </label>
            
        <!-- Desktop Menu -->
        <div class="hidden sm:flex sm:items-center sm:justify-end sm:w-full mr-[4vw]">
            <div class="flex space-x-4">
                <a href="/about" class="rounded-md px-3 py-2 text-lg font-medium text-colors-lightest hover:bg-colors-almost-black hover:text-white">Sobre Nosotros</a>
                <a href="/services" class="rounded-md px-3 py-2 text-lg font-medium text-colors-lightest hover:bg-colors-almost-black hover:text-white">Servicios</a>
                <a href="/testimonials" class="rounded-md px-3 py-2 text-lg font-medium text-colors-lightest hover:bg-colors-almost-black hover:text-white">Testimonios</a>
                <a href="/contact" class="rounded-md px-3 py-2 text-lg font-medium text-colors-lightest hover:bg-colors-almost-black hover:text-white">Contacto</a>
            </div>
        </div>

        <!-- Mobile Menu -->
        <div class="absolute top-full left-0 right-0 bg-colors-dark text-colors-lightest hidden peer-checked:flex flex-col items-center space-y-2 py-3 px-4 shadow-lg transition-all duration-300">
            <a href="/about" class="block px-3 py-2 text-base font-medium hover:bg-colors-almost-black hover:text-white hover:rounded-md">Sobre Nosotros</a>
            <a href="/services" class="block px-3 py-2 text-base font-medium hover:bg-colors-almost-black hover:text-white hover:rounded-md">Servicios</a>
            <a href="/testimonials" class="block px-3 py-2 text-base font-medium hover:bg-colors-almost-black hover:text-white hover:rounded-md">Testimonios</a>
            <a href="/contact" class="block px-3 py-2 text-base font-medium hover:bg-colors-almost-black hover:text-white hover:rounded-md">Contacto</a>
        </div>
    </nav>
</header>