---
import { Image } from "astro:assets";
import ArrowDown from "./Arrows/ArrowDown.astro";
import ButtonReserve from "./Buttons/ButtonReserve.astro";
import ImageDoctor from "../../public/assets/doctors.png";
import ImageSede from "../../public/assets/logo_sedes.png";
---

<section class="w-full h-[100vh] flex flex-col items-center">
    <div class="relative flex flex-col top-[220px] left-[-400px]">
		<h1 class="text-colors-black font-bold text-[45px] leading-[60px] w-[439px] mb-[75px]">
			Una Excelente <span class="text-colors-dark">Experiencia</span> Odontológica
		</h1>
		
		<!-- Contenedor del slogan -->
		<div class="text-[16px] text-colors-black font-bold w-[232px] text-center ml-6">
			<p>La sonrisa de tus sueños está a un clic de distancia</p>
			<div class="flex justify-center mt-3">
				<ArrowDown />
			</div>
		</div>
				<!-- Contenedor del botón de reserva -->
		<div class="mt-4 ml-[18px]">
			<ButtonReserve />
		</div>
	</div>

	<!-- Contenedor de la elipse degradada -->
	<div class="mt-[-180px] ml-[845px]">
		<div class="w-[420px] h-[420px] rounded-full bg-gradient-to-b from-colors-medium via-colors-medium-dark to-colors-dark"></div>
	</div>

	<!-- Imagen del doctor -->
	<div>
		<div>
			<Image src={ImageDoctor} alt="Doctor" class="w-[350px] h-[470px] mt-[-490px] ml-[845px]" loading="eager" />
		</div>
	</div>

	<!-- Contenedor de la descripción del doctor -->
	<div class="flex justify-end items-center gap-2 rounded-[15px] mt-[-80px] ml-[500px] p-0 pr-4 bg-colors-light shadow-[4px_6px_4px_rgba(0,0,0,0.25)]">
		<div class="w-[50px] h-[50px] m-3 flex items-center">
			<Image src={ImageSede} alt="Sede" class="w-[50px] h-[50px] object-cover" loading="eager"/>
		</div>
		<div class="flex items-end flex-col text-colors-darkest font-extrabold">
			<p>DR. Juan Carlos Ramirez</p>
            <p>Sede: Manizales</p>
		</div>
	</div>

	<!-- SVG en la parte inferior (decorativo) -->
	<div class="flex justify-center mt-[-340px] -z-10 w-full">
		<svg xmlns="http://www.w3.org/2000/svg" width="full" height="438" viewBox="0 0 1440 455" fill="none">
            <path d="M1607 285.99C1607 653.5 961.5 571.5 573 571.5C143.093 571.5 -134 640 -134 248.454C-134 -270.417 198.793 184.465 628.7 184.465C1058.61 184.465 1607 -9.50006 1607 285.99Z" fill="#D7F0ED"/>
        </svg>
	</div>
</section>
