---
import { Image } from "astro:assets";
import ImageOdontologia from "../../public/assets/OdontoGeneralImg.png"
import ImageOdontologia2 from "../../public/assets/OdontoGeneralImg_2.png"
import ButtonBack from "./Buttons/ButtonBack.astro";
import ButtonNext from "./Buttons/ButtonNext.astro";
import ButtonBackServices from "./Buttons/ButtonService.astro";
import ButtonVideo from "./Buttons/ButtonVideo.astro";
---

<section class="flex flex-col">

    <!-- Contenedor título y botones -->
    <div class="flex justify-between p-3 mt-[90px]">
        <ButtonBack />
        <h1 class="text-[36px] font-bold leading-[65px] text-colors-darkest text-center mt-2 mb-10">Odontología General</h1>
        <ButtonNext />
    </div>

    <!-- Contenedor texto e imagen -->
    <div class="flex justify-between items-center overflow-hidden">

        <!-- Contenedor descripcion servicio -->
        <div class="prose pl-7">
            <article>
                <h3 class="text-[20px] font-bold m-0 text-colors-darkest">Salvando tus Dientes Naturales:</h3>
                <p class="text-[16px] text-pretty m-0 font-normal text-colors-almost-black mb-4">La endodoncia trata enfermedades del nervio dental. El tratamiento principal, la terapia de conducto, elimina la pulpa dañada, limpia el conducto y lo sella con un material biocompatible.</p>
            </article>
        
            <article>
                <h3 class="text-[20px] font-bold m-0 text-colors-darkest">Tratamientos Eficientes y Sin Dolor:</h3>
                <p class="text-[16px] text-pretty font-normal text-colors-almost-black mb-4">Utilizamos técnicas avanzadas y equipos modernos para realizar endodoncias de manera eficiente y sin dolor, con el objetivo de salvar los dientes y aliviar el dolor dental.</p>
            </article>
    
            <article>
                <h3 class="text-[20px] font-bold m-0 text-colors-darkest">Preserva la Función y Estética:</h3>
                <p class="text-[16px] text-pretty font-normal text-colors-almost-black mb-4">La endodoncia no solo mantiene la funcionalidad del diente, sino también su estructura y apariencia, evitando la extracción.</p>
            </article>
    
            <article>
                <h3 class="text-[20px] font-bold m-0 text-colors-darkest">Confía en Nosotros:</h3>
                <p class="text-[16px] text-pretty font-normal text-colors-almost-black mb-4">Te ayudamos a conservar tus dientes naturales y mantener tu salud dental.</p>
            </article>
        </div>
    
        <!-- Contenedor imagenes de Odontología General -->
        <div>
            <div class="rounded-full overflow-hidden w-[360px] h-[360px] relative right-[-40px] -z-1">
                <Image src={ImageOdontologia} alt="Ilustración del Servicio de Odontología general" />
            </div>
            <div class="rounded-full overflow-hidden w-[360px] h-[360px] relative right-[-40px] top-[-80px]">
                <Image src={ImageOdontologia2} alt="Ilustración del Servicio de Odontología general" />
            </div>
        </div>

    </div>

    <div class="flex justify-center">
        <ButtonVideo />
    </div>
    <div class="h-[50px] w-auto ml-[50px]">
        <ButtonBackServices />
    </div>

    <!-- SVG en la parte inferior (decorativo) -->
    <div class="flex justify-end mt-[-900px] -z-10 w-full">
        <svg xmlns="http://www.w3.org/2000/svg" width="1440" height="905" viewBox="0 0 1440 905" fill="none">
            <path d="M1499 503.5C1499 952 1499 954.5 1267 954.5C-22.0007 954.5 -689 890 216.499 770.5C1122 651 1142 51.9999 1391.5 1.99992C1484 -16.5371 1499 221.282 1499 503.5Z" fill="#D7F0ED"/>
            </svg>
    </div>

</section>