---
import { Image } from "astro:assets";
import ImageRehabOral from "../../public/assets/RehabilitacionOralImg.png";
import ButtonBack from "./Buttons/ButtonBack.astro";
import ButtonNext from "./Buttons/ButtonNext.astro";
import ButtonBackServices from "./Buttons/ButtonService.astro";
import ButtonVideo from "./Buttons/ButtonVideo.astro";
---

<section class="w-full h-[88vh] flex flex-col">
  <article class="flex flex-col w-[100vw] h-[100%] overflow-hidden relative">
    <!-- Contenedor título y botones 10% -->
    <div class="flex justify-between mt-3 mb-5 px-10 h-[10%]">
      <ButtonBack pathBack="http://localhost:4321/ortoinvisible" />
      <h1 class="text-3xl font-bold text-colors-darkest text-center">
        Rehabilitación Oral
      </h1>
      <ButtonNext pathNext="http://localhost:4321/implantes" />
    </div>

    <!-- Contenedor texto, botones, imagen de servicio e imagen decorativa 90% -->
    <div class="flex flex-col h-[90%]">
      <!-- Contenedor texto, botones e imagen de servicio -->
      <div class="flex justify-between items-center">
        <!-- Contenedor descripcion servicio -->
        <div class="prose flex flex-col justify-between gap-3 pl-14">
          <article>
            <h3 class="text-lg font-bold m-0 text-colors-darkest">
              Función y Estética Restauradas:
            </h3>
            <p
              class="text-sm text-pretty m-0 font-normal text-colors-almost-black mb-4"
            >
              La rehabilitación oral restaura la función y la estética dental
              mediante la reconstrucción de dientes dañados o perdidos con
              implantes, coronas, puentes, prótesis y carillas.
            </p>
          </article>

          <article>
            <h3 class="text-lg font-bold m-0 text-colors-darkest">
              Tratamientos Personalizados:
            </h3>
            <p
              class="text-sm text-pretty m-0 font-normal text-colors-almost-black mb-4"
            >
              Ofrecemos planes a medida, combinando técnicas avanzadas y
              materiales de alta calidad para asegurar resultados duraderos y
              naturales.
            </p>
          </article>

          <article>
            <h3 class="text-lg font-bold m-0 text-colors-darkest">
              Recupera tu Sonrisa y Confianza:
            </h3>
            <p
              class="text-sm text-pretty m-0 font-normal text-colors-almost-black mb-4"
            >
              Nuestro objetivo es devolver la funcionalidad y la confianza a tu
              sonrisa con soluciones integrales adaptadas a tus necesidades.
            </p>
          </article>

          <div>
            <ButtonBackServices />
          </div>
        </div>

        <!-- Contenedor del boton para ver el video -->
        <div class="flex h-[40%] items-end">
          <ButtonVideo />
        </div>

        <!-- Contenedor imagen de rehabilitacion oral -->
        <div class="relative overflow-hidden">
          <Image
            src={ImageRehabOral}
            alt="Ilustración del Servicio de Rehabilitación Oral"
            class="rounded-full w-[100%] h-[32vw] transform translate-x-[10%]"
          />
        </div>
      </div>

      <!-- SVG en la parte inferior (decorativo) -->
      <div class="flex items-end -z-10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1358"
          height="901"
          viewBox="0 0 1358 901"
          fill="none"
          class="absolute bottom-[-14vh] right-[-3vw]"
        >
          <path
            d="M1344.14 544.406C1356.77 855.091 1356.77 851.068 987.668 881.441C-4.54699 963.089 -308.03 770.513 348.333 646.409C1004.7 522.306 732.813 310.224 1098.62 70.5173C1464.42 -169.19 1332.4 255.834 1344.14 544.406Z"
            fill="#D7F0ED"></path>
        </svg>
      </div>
    </div>
  </article>
</section>
