---
import Card from "./Card.astro"
import CardMobile from "./CardMobile.astro"
---

<section class="services-section w-full h-[115vh] flex flex-col relative">
  <!-- Fondo Superior -->
  <aside class="background-circle top-circle hidden sm:block absolute right-0 -z-10" aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" width="13vw" height="10vw" viewBox="0 0 173 171" fill="none">
        <circle cx="125" cy="46" r="125" transform="rotate(180 125 46)" fill="url(#paint0_linear_157_55)" />
        <defs>
          <linearGradient id="paint0_linear_157_55" x1="125" y1="-79" x2="125" y2="171" gradientUnits="userSpaceOnUse">
            <stop stop-color="#7DCAC4" />
            <stop offset="0.5" stop-color="#399390" />
            <stop offset="1" stop-color="#2C7575" />
          </linearGradient>
        </defs>
      </svg>
  </aside>

  <!-- Títulos -->
  <header class="text-content w-full flex flex-col text-center gap-4 mt-[6vh]">
    <h1 class="text-colors-darkest font-bold text-4xl mx-auto mb-[-2vh]">
      Conoce nuestros servicios
    </h1>
    <p class="text-colors-darkest font-normal text-lg w-[80%] mx-auto">
      Selecciona uno para más información
    </p>
  </header>

  <!-- Sección de Tarjetas -->
  <section class="cards-container hidden sm:flex justify-center mt-[4vh]">
    <div class="grid gap-x-8 gap-y-8 grid-cols-4">
      <Card 
        href="/ortodoncia"
        title="Ortodoncia"
        img="../../assets/service_icons/ortodoncia.svg"
        alt="Ortodoncia"
        icon="../../assets/service_icons/eye.svg"
      />

      <Card 
        href="/ortoinvisible"
        title="Ortodoncia invisible"
        img="../../assets/service_icons/ortodoncia_invisible.png"
        alt="Ortodoncia invisible"
        icon="../../assets/service_icons/eye.svg"
      />

      <Card
        href="/rehaboral"
        title="Rehabilitación oral"
        img="../../assets/service_icons/rehabilitacion_oral.svg"
        alt="Rehabilitación oral"
        icon="../../assets/service_icons/eye.svg"
      />

      <Card
        href="/implantes"
        title="Implantes"
        img="../../assets/service_icons/implante.svg"
        alt="Implantes"
        icon="../../assets/service_icons/eye.svg"
      />

      <div class="col-span-4 flex justify-center gap-8">
        <Card
          href="/endodoncia"
          title="Endodoncia"
          img="../../assets/service_icons/endodoncia.png"
          alt="Protesis"
          icon="../../assets/service_icons/eye.svg"
        />

        <Card
          href="/odontogeneral"
          title="Odontología general"
          img="../../assets/service_icons/odontologia_general.svg"
          alt="Odontología general"
          icon="../../assets/service_icons/eye.svg"
        />

        <Card
          href="/blanqueamiento"
          title="Blanqueamiento"
          img="../../assets/service_icons/blanqueamiento_dental.png"
          alt="Blanqueamiento dental"
          icon="../../assets/service_icons/eye.svg"
        />
      </div>
    </div>
  </section>

  <!-- Fondo Superior Mobile -->
  <aside class="background-circle mt-[3vh] sm:hidden absolute right-0 -z-10" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" width="204" height="429" viewBox="0 0 204 429" fill="none">
      <path d="M220.414 236C220.414 336.24 133.654 428.5 33.4147 428.5C-66.825 428.5 90.414 344.74 90.414 244.5C90.414 144.26 -0.327248 0 99.9124 0C200.152 0 220.414 135.76 220.414 236Z" fill="#D7F0ED"/>
    </svg>
  </aside>  

<!-- Sección de Tarjetas para móviles -->
<section class="cards-container-mobile sm:hidden flex justify-center items-center mt-[4vh] mb-[4vh]">
  <div class="bg-colors-lightest rounded-2xl shadow-[4px_6px_4px_rgba(0,0,0,0.10)] border border-colors-dark p-5 max-h-[78vh] overflow-y-auto custom-scrollbar border-r-[3.6vw]">
      <div class="grid gap-x-8 gap-y-8 grid-cols-1 ml-2">
          <CardMobile 
              href="/ortodoncia"
              title="Ortodoncia"
              img="../../assets/service_icons/ortodoncia.svg"
              alt="Ortodoncia"
          />

          <CardMobile
              href="/ortoinvisible"
              title="Ortodoncia invisible"
              img="../../assets/service_icons/ortodoncia_invisible.png"
              alt="Ortodoncia invisible"
          />

          <CardMobile
              href="/rehaboral"
              title="Rehabilitación oral"
              img="../../assets/service_icons/rehabilitacion_oral.svg"
              alt="Rehabilitación oral"
          />

          <CardMobile
              href="/implantes"
              title="Implantes"
              img="../../assets/service_icons/implante.svg"
              alt="Implantes"
          />

          <CardMobile
              href="/endodoncia"
              title="Endodoncia"
              img="../../assets/service_icons/endodoncia.png"
              alt="Protesis"
          />

          <CardMobile
              href="/odontogeneral"
              title="Odontología general"
              img="../../assets/service_icons/odontologia_general.svg"
              alt="Odontología general" 
          />

          <CardMobile 
              href="/blanqueamiento"
              title="Blanqueamiento"              
              img="../../assets/service_icons/blanqueamiento_dental.png"
              alt="Blanqueamiento dental"              
          />
      </div>
  </div>
</section>

  <!-- Fondo Inferior Mobile -->
  <aside class="background-circle bottom-circle sm:hidden absolute left-0 mt-[38vh] -z-10" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" width="125" height="428" viewBox="0 0 125 428" fill="none">
      <path d="M124.5 407.5C124.5 463.833 62.5 385.5 -5.5 338C-34.8474 317.5 -103.5 286.333 -103.5 230C-103.5 173.667 -38.333 0 18 0C74.333 0 124.5 351.167 124.5 407.5Z" fill="#D7F0ED"/>
    </svg>
  </aside>

  <!-- Fondo Inferior -->
  <aside class="background-circle bottom-circle hidden sm:block right-0 mt-[-8vh] -z-10" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" width="14vw" height="14vw" viewBox="0 0 176 137" fill="none">
      <circle cx="51" cy="125" r="125" fill="url(#paint0_linear_157_54)" />
      <defs>
        <linearGradient id="paint0_linear_157_54" x1="51" y1="0" x2="51" y2="250" gradientUnits="userSpaceOnUse">
          <stop stop-color="#7DCAC4" />
          <stop offset="0.5" stop-color="#399390" />
          <stop offset="1" stop-color="#2C7575" />
        </linearGradient>
      </defs>
    </svg>
  </aside>
</section>

<style>
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
      width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 1rem;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 1rem;
      border: 3px solid var(--colors-dark);
  }

    @media (min-width: 320px) and (max-width: 639px) {
    section {
        width: 100%;
        height: auto;
    }

    .text-content {
      margin-top: 2vh;
    }

    .text-content h1 {
      font-size: 1.6rem;
      width: 80%;
    }

    .text-content p {
      font-size: 1rem;
      line-height: normal;
      width: 80%;
    }
  }

  @media (min-width: 640px) and (max-width: 844px) {
    section {
        width: 100%;
        height: auto;
    }
  }
</style>